<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BrandMapper">
    <resultMap id="BrandMain" type="com.model.kream.product.brand.BrandMain">
        <result column="image" property="image" typeHandler="com.middleware.JsonObjectTypeHandler"/>
    </resultMap>
    <select id="getBrandByNo" resultType="Brand">
        select *
        from brand
        WHERE no = #{no}
    </select>
    <select id="getBrandByProductNo" resultType="Brand">
        select *
        from brand
        WHERE brand.no = (select brand_no from product WHERE no = #{no})
    </select>
    <select id="getAllBrands" resultType="Brand">
        select *
        from brand
        order by name
    </select>
    <update id="updateBrand">
        update brand
        SET name  = #{name},
            color = #{color}
        WHERE no = #{no}
    </update>
    <insert id="makeBrand" useGeneratedKeys="true" keyProperty="no">
        insert into brand(name, color)
        VALUES (#{name}, #{color})
    </insert>
    <select id="isNameDuplicated" resultType="_boolean">
        select EXISTS(select * from brand WHERE name = #{name} <if test="no neq 0">AND no != #{no}</if> )
    </select>
    <delete id="deleteBrand">
        delete
        from brand
        WHERE no = #{no}
    </delete>
    <select id="getMainBrands" resultType="BrandMain" resultMap="BrandMain">
        select brand.no, brand.name, brand.color, JSON_EXTRACT(p.images, '$[0]') as image
        from brand
                 left join product p on brand.no = p.brand_no
        WHERE (select COUNT(*) from product WHERE brand_no = brand.no) > 0
        GROUP BY brand.no ORDER BY RAND()
        LIMIT 10
    </select>
</mapper>