<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CardInfoMapper">

    <!--List -->
    <select id="getCardInfo" resultType="CardInfo">
        select *
        from card_info
        where no = #{no}
    </select>

    <insert id="addCardInfo" useGeneratedKeys="true" keyProperty="no">
        insert into card_info(user_no, card_company, card_number, `card_expiration _date`, birth_date, password)
        values (#{user_no},
                #{card_company},
                #{card_number},
                #{card_expiration_date},
                #{birth_date},
                #{password},
                now(),
                now())
    </insert>



    <delete id="deleteCardInfo">
        delete from card_info where no=#{no}
    </delete>

</mapper>