<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CategoryMapper">
    <select id="getCategoryByNo" resultType="Category">
        select *
        from category
        WHERE no = #{no}
    </select>
    <select id="getCategoryFilters" resultType="CategoryFilter">
        select no,
               name,
               parent_no,
               IF(parent_no is not null, (select name from category WHERE no = c.parent_no), null) as parent_name
        from category c
        WHERE parent_no is not null
    </select>
</mapper>