<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CategoryMapper">
    <select id="getCategoryByNo" resultType="Category">
        select *
        from category
        WHERE no = #{no}
    </select>
    <select id="getParentCategories" resultType="Category">
        select no, name
        from category
        WHERE parent_no is null
    </select>
    <select id="getChildrenCategories" resultType="Category">
        select no, name
        from category
        WHERE parent_no = #{parent_no}
    </select>
    <select id="getCategoryChildrenAdmin" resultType="CategoryAdmin">
        select no, name, (select COUNT(*) from product WHERE category_no = category.no) as products
        from category WHERE parent_no = #{parent_no}
    </select>
</mapper>