<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.NoticeMapper">

    <!--List -->
    <select id="getNotice" resultType="Notice">
        select *
        from notice
        where no = #{no}
    </select>

    <select id="getAllNotice" resultType="Notice">
        select * from notice order by reg_datetime desc
    </select>

    <insert id="addNotice" useGeneratedKeys="true" keyProperty="no">
        insert into notice(title, content, reg_datetime, updated_datetime, flag)
        values (#{title},
                #{content},
                now(),
                now(),
                #{flag})
    </insert>

    <update id="updateNotice">
        update notice
        set title=#{title},
            content=#{content},
            flag=#{flag},
            updated_datetime =now()

        where no = #{no}
    </update>

    <delete id="deleteNotice">
       delete from notice where no=#{no}
    </delete>

    <select id="getNotices" resultType="Notice">
        select *
        from notice
        where flag =1
        ORDER BY reg_datetime DESC LIMIT 20 OFFSET #{offset}
    </select>

    <select id="getNoticePages" resultType="int">
        select IF(count(*) = 0, 1, TRUNCATE((count(*) - 1) / 20, 0) + 1)
        from notice
    </select>
</mapper>