<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.PointMapper">

    <!--List -->
    <select id="getPoint" resultType="Point">
        select * from point where no=#{no}
    </select>

    <select id="getPointData" resultType="Point">
        select * from point where no=#{no}
    </select>
    <insert id="addPoint" useGeneratedKeys="true" keyProperty="no">
        insert into point( user_no, point, type, used_point, flag, reg_datetime, updated_datetime)
        values (
                   #{user_no},
                   #{point},
                   #{type},
                   #{used_point},
                   #{flag},
                   now(),
                   now()
               )
    </insert>

    <update id="editPoint">
        update point set point = #{point},
                     updated_datetime = now()
                     where user_no =#{user_no}


    </update>

</mapper>