<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.QnAMapper">

    <!--List -->
    <select id="getQnaByType" resultType="Qna">
        select *
        from qna
        where type = #{type}
        order by reg_datetime desc
    </select>

    <select id="getAllQna" resultType="Qna">
        select *
        from qna
        where flag = 1
        order by reg_datetime desc
    </select>

    <select id="getQnaData" resultType="Qna">
        select * from qna where no=#{no}
    </select>

    <insert id="addQna" useGeneratedKeys="true" keyProperty="no">
        insert into qna (title, content, type, reg_datetime, updated_datetime, flag)

        values (#{title},
                #{content},
                #{type},
                now(),
                now());
    </insert>



    <update id="updateQna" parameterType="map">
        UPDATE qna
        <trim prefix="SET" suffixOverrides=",">
            <if test="title !=null">title=#{title},</if>
            <if test="content != null">content=#{content},</if>
            <if test="flag !=null">flag=#{flag}</if>
            <if test="update_datetime != null">update_datetime=now()</if>
        </trim>
        where no = #{no}
    </update>

    <delete id="deleteQna">
        delete from qna where no=#{no}
    </delete>


</mapper>