<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.SellMapper">
    <resultMap id="SellList" type="com.model.kream.shop.SellList">
        <result column="images" property="images" typeHandler="com.middleware.JsonObjectTypeHandler"/>
    </resultMap>
    <select id="getProductSellHistory" resultType="ProductPriceWithSizeAndCount">
        select (select size from size WHERE no = s.size_no)                                 as size,
               price,
               (select COUNT(*) from sell ss WHERE size_no = s.size_no AND price = s.price) as count
        from sell s
        WHERE size_no in (select no from size WHERE product_no = #{product_no})
        GROUP BY size_no, price
        ORDER BY price;
    </select>
    <select id="getSizeProductSellLowestPrice" resultType="Integer">
        select price
        from sell
                 left join `order` on sell.no = `order`.sell_no
        WHERE size_no = #{size_no}
          AND `order`.no is null
        ORDER BY price
        LIMIT 1
    </select>
    <insert id="registerSell" useGeneratedKeys="true" keyProperty="no">
        insert into sell(user_no, size_no, sell_agree, sell_type, expiration_date, expiration_days, price,
                         inspection_price, delivery_price, commission, total_price, bank_info, recall_address_info,
                         recall_method, cash_receipt, s_order_agree, reg_datetime, updated_datetime)
        VALUES (#{user_no}, #{size_no}, #{sell_agree, typeHandler=com.middleware.JsonObjectTypeHandler}, #{sell_type},
                #{expiration_date},
                #{expiration_days}, #{price},
                #{inspection_price}, #{delivery_price}, #{commission}, #{total_price},
                #{bank_info, typeHandler=com.middleware.JsonObjectTypeHandler},
                #{recall_address_info, typeHandler=com.middleware.JsonObjectTypeHandler},
                #{recall_method}, #{cash_receipt, typeHandler=com.middleware.JsonObjectTypeHandler},
                #{s_order_agree, typeHandler=com.middleware.JsonObjectTypeHandler}, NOW(), NOW())
    </insert>
    <select id="getProductSellForAuction" resultType="Sell">
        select *
        from sell
                 left join `order` o on sell.no = o.sell_no
        WHERE size_no = #{size_no}
          AND price = #{price}
          AND o.no is null
        order by sell.reg_datetime
        LIMIT 1;
    </select>

    <!-- 판매내역 -판매입찰 -->
    <select id="getMySell" resultType="SellList" resultMap="SellList">
        select sell.no,sell.expiration_date,p.en_name,p.kor_name,JSON_EXTRACT(p.images,'$[0]')as images,s.size from sell
        left join size s on sell.size_no = s.no
        left join product p on s.product_no = p.no
        where user_no =#{user_no} and
        <if test="after == true">
            expiration_date <![CDATA[ >= ]]>now();
        </if>

        <if test="after == false">
            expiration_date <![CDATA[ < ]]>now();
        </if>


    </select>


    <!--판매내역 -진행중-->
    <select id="getMySellByOrder" resultType="SellList" resultMap="SellList">
        select s.no,d.status,ss.type,JSON_EXTRACT(p.images,'$[0]')as images,p.en_name,p.kor_name from sell s
        inner join `order` o on s.no = o.sell_no
        left join sell_stock ss on o.no = ss.order_no
        left join size s2 on s.size_no = s2.no
        left join product p on p.no = s2.product_no
        left join delivery d on o.no = d.order_no

        where user_no = #{user_no}
        <if test="status != null">
            and d.status = #{status}
        </if>
        <if test="type != null">
            and ss.type = #{type}
        </if>

    </select>

    <!--판매내역 - 종료-->
    <select id="getCompleteSell" resultType="SellList" resultMap="SellList">
        select sell.no, JSON_EXTRACT(p.images,'$[0]')as images,p.kor_name,p.en_name,s.size ,o.order_status from sell
        left  join `order` o on sell.no = o.sell_no
        left join size s on sell.size_no = s.no
        left join product p on s.product_no = p.no
        where user_no = #{user_no}
        and order_status = #{order_status}


    </select>
</mapper>