<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.WishMapper">
    <resultMap id="WishList" type="com.model.kream.product.interactions.WishList">
        <result column="images" property="images" typeHandler="com.middleware.JsonObjectTypeHandler"/>
    </resultMap>
    <select id="getProductWishCount" resultType="int">
        select COUNT(*)
        from wish
        WHERE size_no in (select no from size WHERE product_no = #{product_no})
    </select>
    <select id="getUserWishes" resultType="Wish">
        select *
        from wish
        WHERE user_no = #{user_no}
    </select>
    <insert id="insertUserWish" useGeneratedKeys="true" keyProperty="no">
        insert into wish(user_no, size_no)
        VALUES (#{user_no}, #{size_no})
    </insert>
    <delete id="deleteUserWishByNo">
        delete
        from wish
        WHERE no = #{no}
    </delete>
    <delete id="deleteUserWishByUserNoAndSizeNo">
        delete
        from wish
        WHERE user_no = #{user_no}
          AND size_no = #{size_no}
    </delete>
    <select id="isUserWishProduct" resultType="_boolean">
        select EXISTS(select *
                      from wish
                      WHERE size_no in (select no from size WHERE product_no = #{product_no})
                        AND user_no = #{user_no})
    </select>
    <select id="isUserWishSize" resultType="_boolean">
        select EXISTS(select * from wish where user_no = #{user_no} AND size_no = #{size_no})
    </select>

    <select id="getMywishList" resultType="WishList" resultMap="WishList">
        select  JSON_EXTRACT(p.images, '$[0]') as images,s.size,p.en_name,b.name from wish w
            left join size s on w.size_no = s.no
            left join product p on s.product_no = p.no
            left join brand b on p.brand_no = b.no
            where user_no = #{user_no};
    </select>
    <delete id="resetUserProductWishes">
        delete
        from wish
        WHERE user_no = #{user_no}
          AND size_no in (select no from size WHERE product_no = #{product_no})
    </delete>
</mapper>